{% extends '_templates/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="jumbotron banner text-center">
    <h1>Queen</h1>
    <p>The greatest rock band of all time!</p>
  </div>
  <div class="container">
    <h1>Queen</h1>
    <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury, Brian May, Roger Taylor and John Deacon.</p>
    <h2>Original Members</h2>
    <p>Here are the four original members of Queen.</p>
    <div class="row">
      {% for members in queen.members %}
        <div class="col">
          <img src="img/{{ members.image }}.jpg" alt="" class="img-fluid">
          <h3>
            <a href="members/{{ members.image }}.html">{{ members.image }}</a>
          </h3>
        </div>
      {% endfor %}
    </div>
    <h2>Discography</h2>
    <p>Here is a collection of Queen's discography.</p>
    <hr>
    {% for discography in queen.discography %}
      <h3>
        <a href="{{ store.url }}" target="_blank">{{ store.name }}</a>
      </h3>
      <p>{{ store.address}},
        {{ store.city }},
        {{ store.state }}
        {{ store.zip }}</p>
      <hr>
    {% endfor %}
  </div>
{% endblock %}