.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  padding-top: 12rem;
}

.jumbotron {
  margin-bottom: 30px;
}

.jumbotron h1{
  color: blueviolet;
}

.jumbotron p{
  color: blueviolet;
}
